.slider-container {
    width: 80%;
    margin: 50px auto;
}

/* Estilizando o input range */
.purple-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, lavender, purple); /* Gradiente de lavanda a roxo */
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

/* Mudar a cor do thumb (círculo deslizante) */
.purple-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
}

.purple-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
}

